<div class="user-profile">
    <div class="profile-header">
      <div class="profile-image-wrapper">
        <img [src]="user.imageUrl" alt="User Photo" class="user-photo">
        <div class="status-indicator"></div>
      </div>
      <h2>{{ user.nameSurname }}</h2>
      <p class="user-status">Active</p>
    </div>
  
    <div class="profile-details">
      <div class="detail">
        <i></i>
        <span>Id : {{ user.id }}</span>
      </div>
      <div class="detail">
        <i class="fas fa-phone-alt"></i>
        <span>Telephone Number : {{ user.telephoneNumber }}</span>
      </div>
      <div class="detail">
        <span>Address : {{ user.address }}</span>
      </div>
      <div class="detail">
        <i class="fas fa-envelope"></i>
        <span>{{ user.email }}</span>
      </div>
      <div class="detail">
        <i class="fas fa-key"></i>
        <span><input type="password" [value]="user.nameSurname" disabled /></span>
      </div>
    </div>
  </div>

  <button (click)="openUpdateForm()">Bilgileri Güncelle</button>