<div class="login-box">
  <div>
    <h1>SCHOOL</h1>
    <p>Online education system</p>
    
    <h2>Login</h2>

    <!-- Tek form -->
    <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit(userLoginForm.value)">
      <div class="textbox">
        <input type="text" placeholder="Email" formControlName="email">
      </div>
      <div class="textbox">
        <input type="password" placeholder="Password" formControlName="password">
      </div>
      
      <!-- Checkbox ile Instructor mı, Student mı kontrolü -->
      <div class="checkbox-group">
        <label>
          <input type="checkbox" formControlName="isLoggerInstructor"> Login as Instructor
        </label>
      </div>

      <button type="submit" class="submit-btn">Login</button>
    </form>

    <!-- Hata Mesajı -->
    <div *ngIf="errorMessage" class="error-message" style="color: red; font-size: 14px;">
      {{ errorMessage }}
    </div>
  </div>

  <div class="button-group">
    <button class="register-btn" [routerLink]="['/register']" routerLinkActive="router-link-active">Do you want to register ?</button>
  </div>
</div>